<%= render 'shared/errors', obj: @entry %>

<%= form_for @entry do |f| %>
<div class="form-group">
	<%= f.label "Titel" %>
	<%= f.text_field :title, class: "form-control", placeholder: "Titel", autofocus:true %>
</div>
<div class="form-group">
	<%= f.label :text %>
	<%= f.text_area :text, class: "form-control tinymce", placeholder: "Text", rows: 10 %>
</div>
<div class="form-group">
	<%= f.label "Datum" %>
	<%= f.date_field :date, class: "form-control", placeholder: "Datum" %>
</div>
<div class="form-group">
	<%= f.submit "Speichern", class: "btn btn-primary" %>
	<p class="mt-2"><%= link_to "Zurück zu allen Einträgen", entries_path %></p>
</div>
<% end %>

<%= tinymce %>