<div class="container">
	<div class="row">
		<div>
			<h1><%= @entry.title %>
				<% if user_signed_in? %>
					<%= link_to edit_entry_path, class: "no-hover-style" do %>
						<%= fa_icon "pencil", class: "icon-button" %>
					<% end %>
					<%= link_to entry_path(@entry), method: :delete, data: {confirm: "Willst du diesen Eintrag wirklich löschen?"} do %>
						<%= fa_icon "trash", class: "icon-button" %>
					<% end %>
				<% end %>
			</h1>
			<p class="lead"><%= I18n.l @entry.date, :format => :lwd %></p>
			
			<div class="entry-text"><%= @entry.text.html_safe %></div>
		</div>
	</div>
</div>