<div class="container row">
    <div class="col-lg-8 col-lg-offset-4">
        <h1><%= @entry.title %>&nbsp;&nbsp;<small><%= I18n.l @entry.date, :format => :wd %></small>
            <% if user_signed_in? %>&nbsp;
                <%= link_to edit_entry_path do %>
                    <span class="glyphicon glyphicon-pencil icon-button" aria-hidden="true"></span>
                <% end %>
                <%= link_to entry_path(@entry), method: :delete, data: {confirm: "Willst du diesen Eintrag wirklich löschen?"} do %>
                    <span class="glyphicon glyphicon-trash icon-button" aria-hidden="true"></span>
                <% end %>
            <% end %></h1>
        <div class="entry-text"><%= @entry.text.html_safe %></div>
    </div>
</div>