<div class="container">
	<% if !@index_page %>
	<h1 class="header-normal mt-3 mb-0 text-center">
		Alle Einträge
		<% if user_signed_in? %>
			<%= link_to new_entry_path do %>
				<%= fa_icon "plus", class: "icon-button" %>
			<% end %>
		<% end %>
	</h1>
	<% end %>

	<%= render 'shared/messages' %>

	<div class="d-flex justify-content-center mt-4" style="margin-bottom: -9px">
		<%= will_paginate @entries, :previous_label => t("previous"), :next_label => t("next") %>
	</div>

	<% @entries.each do |entry| %>
		<%= render 'shared/entry_preview', entry: entry %>
	<% end %>

	<div class="d-flex justify-content-center">
		<%= will_paginate @entries, :previous_label => t("previous"), :next_label => t("next") %>
	</div>
</div>