<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <meta name="google-site-verification" content="xuokCCBR3bc1g2xm9DLp3IKdqBLN6Ot5iY-7v76-sG4" />
    
    <title>Silesialinks</title>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <%= render "layouts/navbar" %>
    
    <%= yield %>

    <%= render "layouts/footer" %>
    
    <% log_visit %>
    <script async defer src="https://cdn.simpleanalytics.io/hello.js"></script> 
    <noscript><img src="https://api.simpleanalytics.io/hello.gif" alt=""></noscript>
  </body>
</html>